/* .locationsMainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .5) !important;
    height: 20vh !important;
    width: 50vw !important;
    border-radius: 10% !important;
} */

.addBtnLocation{
    position: absolute;
    top: -19% !important;
    left: 89% !important;
    border-radius: 10% !important;
    color: midnightblue;
    background-color: rgba(255, 255, 255, .95);
}

.addBtnLocation:hover{
    color: whitesmoke;
    background-color:powderblue;
}

.locationFontStyle{
    color: midnightblue !important;
    font-family: 'Poppins', sans-serif !important;
    text-align: center !important;
    width: 17vw;
}

.locationModalForm{
    background-color: rgba(0,0,128 ,.2);
    color: whitesmoke;
    font-family: 'Poppins', sans-serif !important;
    font-weight: bolder;
    position: absolute;
    display: flex;
    padding: 5px;
    margin-top: 10%;
    margin-left: 10%;
    height: 50vh;
    border-radius: 10px;
}

.locationModalHeader{
    background-color: rgba(70,130,180 ,1);
}

.locationModalFontStyle{
    color: midnightblue !important;
}

.locationDelete{
    color: rgba(47,79,79 ,1) !important;
    background-color: rgba(255, 255, 255, .0) !important;
    border: none !important;
}

.locationDelete:hover{
    color: darkkhaki !important;
}

.deleteForeveIcon{
    font-size: 25px !important;
}