/* this is my inline style before in FreecodApp.js */
/* <img 
                src={freecodBg3}
                style= {{
                    objectFit: 'cover',
                    width: '100%',
                    height: '100%'
                }}
            /> */


/* .mainContainer{
    width: 100vw;
    height: 100vh;
} */

.containerMain{
    background-image: url(../landingpagecomponents/images/freecodBg3.jpg) !important;
    background-position: center !important;
    background-size: cover !important;
    /* object-fit: cover;     */
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    display: flex !important;
}

.spinningGlobe{
    background-image: url(../landingpagecomponents/images/globe.gif) !important;
    background-repeat: no-repeat !important;
    background-size: 115px;
    height: 40% !important;
    width: 25% !important;
    position: absolute !important;
    left: 5%;
    top: 10%;
    
}

.peaceGifStyle{
    background-image: url(../landingpagecomponents/images/peace.gif);
    background-repeat: no-repeat !important;
    background-size: 236px !important;
    height: 40% !important;
    width: 8.8% !important;
    position: absolute !important;
    left: 5.3%;
    top: 10%;
    opacity: .4 !important;
}

.mainDiv{
    height: 100vh !important;
    width: 100% !important;
    /* background-color: none !important; */
    position: relative;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}

.topContent{
    height: 100vh !important;
    width: 100% !important;
    /* margin: 0 !important; */
    /* margin-bottom: 50% !important; */
    padding-top: 3em !important;
    /* background-color: RGBA(255,255,255, 0.5); */
    /* text-align: justify; */
    font-family: 'Anton', sans-serif !important;
    display: flex;
    position: absolute;
    background: rgb(2,0,36, .2);
background: linear-gradient(180deg, rgba(2,0,36, .7) 0%, rgba(9,9,121, .5) 15%, rgba(0,212,255, .3) 30%, rgba(255,255,255, 0.1) 50%, rgba(255,255,255, 0.0) 75%, rgba(255,255,255, 0.0) 100%);
}

.topText{
    position: absolute !important;
    padding-top: 12%;
    padding-left: 5%;
    /* color: #0C0032 !important; */
    color: midnightblue !important;
}

.topNextText{
    position: absolute !important;
    padding-left: 5%;
    padding-top: 16%;
    /* color: #0C0032 !important; */
    color: midnightblue !important;
}


.subContentHollow{
    height: 60vh !important;
    width: 100% !important;
    background-color: none !important;
    position: absolute;
    margin-top: 19%;
}

.landingPageTextAccess{
    height: 50vh !important;
    width: 100% !important;
    background-color: RGBA(255,255,255, 0.9);
    position: absolute;
    margin-top: 48%;
}

.landingPageYoutube{
    height: 100vh !important;
    width: 100% !important;
    background-color: rgba(70,130,180 ,1);
    position: absolute;
    margin-top: 70%;
    display: flex !important;
    flex-direction: column;
    /* justify-content: center !important; */
    /* align-items: center !important; */

}

.brandStyle {
    position: absolute;
    font-family: 'Girassol', cursive;
    font-weight: bolder;
    font-size: 40px;
    margin-top: 3.5%;
    margin-left: 14% !important;
    color: rgb(7,20,63);
    
  }

  .hrBrand{
    position: absolute;
    margin-left: -30.3%;
    margin-top: 6.5%; 
    height: 70px;
    width: 2px;
    border: 0.5px dashed powderblue;
    /* border-top: 120px dashed silver; */
    background: powderblue;
    /* border-bottom: 120px dashed silver; */
    z-index: 10; 
  }

  .exploreBtn{
    font-family: 'Poppins', sans-serif !important;
    color: midnightblue;
  }