.landingInfoFirCon{
    margin: 0;
    display: flex;
    height: 60vh !important;
    width: 100% !important;
}

.landingInfoSecCon{
    margin: 0;
    display: flex;
    height: 60vh !important;
    width: 100% !important;
}

.landingpageCardPicOne{
    /* position: relative; */
    margin-top: 2% !important;
    margin-left: 3% !important;
    height: 50vh;
    width: 20vw;
    border-radius: 10px !important;    
}

.landingpageHand{
    height: 100% !important;
    width: 100% !important;
    border-radius: 10px !important;
}

.landingpageCardYoutube{
    margin-top: 2% !important;
    margin-left: 1% !important;
    height: 50vh;
    width: 45vw; 
    /* background-color: darkviolet !important; */
    position: relative !important;
    border-radius: 10px !important;
}

.iFrame{
    width: 100%; 
    height: 100%;
    border-radius: 10px !important;
}

.landingpageCardPicCovid{
    margin-top: 2% !important;
    margin-left: 1% !important;
    height: 50vh;
    width: 25vw; 
    /* background-color: yellowgreen !important; */
    border-radius: 10px !important;
}

.landingpageCovid{
    height: 100% !important;
    width: 100% !important;
    border-radius: 10px !important;
}

.landingpageCardPicWorldStats{
    margin-top: 1% !important;
    margin-left: 5% !important;
    height: 37vh;
    width: 45vw; 
    /* background-color: salmon !important; */
    border-radius: 10px !important;
}

.landingpageWorldStats{
    height: 100% !important;
    width: 100% !important;
    border-radius: 10px !important;
}

.landingpageCardPicPhFlag{
    margin-top: 1% !important;
    margin-left: 1% !important;
    height: 37vh;
    width: 41vw; 
    /* background-color: slateblue !important; */
    border-radius: 10px !important;
}

.landingpagePhFlag{
    height: 100% !important;
    width: 100% !important;
    border-radius: 10px !important;
}

.Marquee {
    /* background-color: rgba(255,228,181 ,1); */
    background-color: rgba(178,34,34 ,1);
    height: 5%;
    display: block;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    /* color: rgba(0,0,0 , .7); */
    color: rgba(255,255,255 , 1);
    padding: 3px;
    font-family: 'Anton', sans-serif !important;    
}
