.textAccessFont{
    padding-top: 5% !important;
    padding-right: 18% !important;
    padding-left: 18% !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 18px !important;
    text-align: center !important;
}

.textAccessNextFont{
    padding-top: 0.5% !important;
    padding-right: 10% !important;
    padding-left: 10% !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 18px !important;
    text-align: center !important;
}

.textAccessLastFont{
    padding-top: 1% !important;
    padding-right: 10% !important;
    padding-left: 10% !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 18px !important;
    text-align: center !important;
}

.landingButton{
    background-color: lightsteelblue !important;
    padding: 7px 20px !important;
    font-family: 'Poppins', sans-serif !important;
    color: #0C0032 !important;
    font-weight: bolder !important;
    margin-top: 1% !important;
    margin-right: 45% !important;
    margin-left: 45% !important;
    border: 1px solid darkslategray !important;
    border-radius: 20px !important;

}

.landingButton:hover{    
    background-color: white !important;
}