.advisorPageStyle{
    /* background-image: url(../assets/images/bgCrud.jpg); */
    background-color: rgba(70,130,180 ,1);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftContainer{
    background-color: none !important;
    background-image: url(../../../landingpagecomponents/images/leftBC1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rightContainer{
    background-color: white !important;
    background-image: url(../../../landingpagecomponents/images/mol.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.bookingTitleh1{
    margin: 0 !important;
    font-family: 'Girassol', cursive;
    font-size: 47px;
    color: midnightblue;
}

.bookingTitleh5{
    margin: 0 !important;
    font-family: 'Amiri', serif;
    /* color: rgba(102,51,153 ,1) !important; */
    color: rgb(5,14,43);
    font-size: 20px;
    font-weight: bold;
}

.bookingTitlehr{
    margin-top: 2% !important;
    margin-bottom: 2% !important;
    border: 0 !important;
    height: 1px !important;
    width: 80% !important;
    background: midnightblue !important;
    background-image: linear-gradient(to right, #fff, midnightblue, #fff) !important;
}

.verticalHrLeft{
    position: absolute;
    margin-left: -29.5%;
    margin-top: 4%; 
    height: 310px;
    width: 5px;
    border: 0;
    /* border-top: 120px dashed silver; */
    background: rgba(25,25,112 , .4);
    /* border-bottom: 120px dashed silver; */
    z-index: 10;
    border-radius: 90px;    
}

.verticalHrLeftMini{
    position: absolute;
    margin-left: -27.2%;
    margin-top: 4%; 
    height: 190px;
    width: 3px;
    border: 0;
    /* border-top: 120px dashed silver; */
    background: rgba(25,25,112 , .4);
    /* border-bottom: 120px dashed silver; */
    z-index: 10;
    border-radius: 90px;    
}

.verticalHrLeftMicro{
    position: absolute;
    margin-left: -25%;
    margin-top: 4%; 
    height: 100px;
    width: 2px;
    border: 0;
    /* border-top: 120px dashed silver; */
    background: rgba(25,25,112 , .4);
    /* border-bottom: 120px dashed silver; */
    z-index: 10;
    border-radius: 90px;    
}



.myBookingContainer{
    height: 70% !important;
    width: 70% !important;
    /* background-color: rgb(0,0,128); */
    background-color: rgba(70,130,180 ,1);
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3%;
}

.myBookingSubContainer{
    height: 98% !important;
    width: 98% !important;
    background-color: rgba(255,255,255 , .7);
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



/* LEFT PART CONTAINER */
/* locations */

.leftLocationContainer{
    background-color: rgba(255, 255, 255, 0.7);
    height: 20vh;
    width: 35vw;
    border-radius: 5px;
    padding: 8px;
    max-width: 80%;
    position: relative;    
    margin: 25px;
}

.divScrollContainer{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.leftListAdvisorContainer{
    background-color: rgba(255, 255, 255, 0.7);
    height: 45vh !important;
    width: 35vw !important;
    border-radius: 5px !important;
    /* padding: 8px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    scroll-snap-type: y mandatory !important; */
    padding: 8px;
    max-width: 80%;
    position: relative;    
    margin: 25px;
}