.containerMain{
    /* background-color: rgba(70,130,180 ,1); */
    background-image: url(../../../landingpagecomponents/images/leftBC1.jpg) !important;
    background-position: center !important;
    background-size: cover !important;
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    display: flex !important;
    /* justify-content: center !important; */
    /* align-items: center !important; */
    /* flex-direction: column; */
}

.containerSub{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center !important;
}

.containerSubContent{
    height: 100vh;
    width: 100%;
    /* position: absolute; */
}

.containerInfo{
    /* background-image: url(./homeImages/roll.jpg); */
    /* background-position: center; */
    /* background-size: cover; */
    height: 77vh;
    width: 35vw;
    position: absolute;
    top: 10%;
    left: 55%;
    background-color: rgba(255,255,255, .65);
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 45px -1px rgba(255,252,255,0.54);
-moz-box-shadow: 0px 0px 45px -1px rgba(255,252,255,0.54);
box-shadow: 0px 0px 45px -1px rgba(255,252,255,0.54);

}

.infoFirstP {
    margin: 2px;
    padding: 2px;
    /* text-align: justify; */
    font-family: 'Amiri', serif;
    color: midnightblue;
    font-size: 17px;
    font-weight: bold;
}

.infoFirstPar{
    margin: 2px;
    padding: 2px;
    /* text-align: justify; */
    font-family: 'Amiri', serif;
    color: darkred;
    font-size: 20px;
    font-weight: bolder;
}

.infoSecP{
    margin: 2px;
    padding: 2px;
    text-align: left !important;
    font-family: 'Amiri', serif;
    color: midnightblue;
    font-size: 25px;
    font-weight: bolder;
    text-decoration: underline;
}

.imgFirst{
    height: 30vh !important;
    width: 42vw !important;
    border-radius: 10px !important;
    position: absolute !important;
    top: 20% !important;
    left: 10% !important;
    z-index: 1 !important;
}

.imgFirst:hover{
	z-index: 100 !important;
	-webkit-box-shadow: 0px 0px 45px -8px rgba(255,252,255,0.54);
-moz-box-shadow: 0px 0px 45px -8px rgba(255,252,255,0.54);
box-shadow: 0px 0px 45px -8px rgba(255,252,255,0.54);
}

.imgSec{
    height: 28vh !important;
    width: 30vw !important;
    border-radius: 10px !important;
    position: absolute !important;
    top: 12% !important;
    left: 20% !important;
    z-index: 2 !important;
}

.imgSec:hover {
    z-index: 100 !important;
    -webkit-box-shadow: 0px 0px 45px -8px rgba(255,252,255,0.54);
-moz-box-shadow: 0px 0px 45px -8px rgba(255,252,255,0.54);
box-shadow: 0px 0px 45px -8px rgba(255,252,255,0.54);
}

.imgThi{
    height: 40vh !important;
    width: 17vw !important;
    border-radius: 10px !important;
    position: absolute !important;
    top: 15% !important;
    left: 18% !important;
    z-index: 3 !important;
}

.imgThi:hover {
    z-index: 100 !important;
    -webkit-box-shadow: 0px 0px 45px -8px rgba(255,252,255,0.54);
-moz-box-shadow: 0px 0px 45px -8px rgba(255,252,255,0.54);
box-shadow: 0px 0px 45px -8px rgba(255,252,255,0.54);
}

.imgFou{
    height: 40vh !important;
    width: 15vw !important;
    border-radius: 10px !important;
    position: absolute !important;
    top: 18% !important;
    left: 13% !important;
    z-index: 4 !important;
}

.imgFou:hover {
    z-index: 100 !important;
    -webkit-box-shadow: 0px 0px 45px -8px rgba(255,252,255,0.54);
-moz-box-shadow: 0px 0px 45px -8px rgba(255,252,255,0.54);
box-shadow: 0px 0px 45px -8px rgba(255,252,255,0.54);
}

.viberIcon{
    height: 50px !important;
    width: 70px !important;
    border-radius: 10%;
    position: absolute;
    top: 70%;
    left: 20%;
}

.viberIcon:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.polahIcon{
    height: 50px !important;
    width: 70px !important;
    border-radius: 10%;
    position: absolute;
    top: 70%;
    left: 26%;
}

.polahIcon:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.maraIcon{
    height: 50px !important;
    width: 70px !important;
    border-radius: 10%;
    position: absolute;
    top: 70%;
    left: 32%;
}

.maraIcon:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.metroIcon{
    height: 50px !important;
    width: 66px !important;
    border-radius: 10%;
    position: absolute;
    top: 70%;
    left: 38%;
    background-color: rgba(255,252,255, 0.7);
}

.metroIcon:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.whoIcon{
    height: 50px !important;
    width: 110px !important;
    border-radius: 10px;
    position: absolute;
    top: 80%;
    left: 14.5%;
}

.whoIcon:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.checkIcon{
    height: 50px !important;
    width: 110px !important;
    border-radius: 10px;
    position: absolute;
    top: 80%;
    left: 23%;
}

.checkIcon:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.dohIcon{
    height: 50px !important;
    width: 110px !important;
    border-radius: 10px;
    position: absolute;
    top: 80%;
    left: 31.5%;
    background-color: rgba(255,252,255, 0.9);
}

.dohIcon:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.konsultaIcon{
    height: 50px !important;
    width: 120px !important;
    border-radius: 10px;
    position: absolute;
    top: 80%;
    left: 40%;
    background-color: rgba(255,252,255, 0.9);
}

.konsultaIcon:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.bookConsult {
    position: absolute;
    bottom: 4%;
    right: 7.5%;
    background-color: rgba(255,252,255, 0.0);
    border: none;
    color: white;
    font-size: 25px;
    font-family: 'Amiri', serif;
}

.bookConsult:hover{
    /* text-decoration: underline; */
    color: salmon;
}

.partNers{
    position: absolute;
    bottom: 30%;
    left: 14.2%;
    color: white;
    font-family: 'Amiri', serif;
}