.listAdFontStyle{
    color: midnightblue !important;
    font-family: 'Poppins', sans-serif !important;
    text-align: center !important;
}

.addBtnAdvisor{
    position: absolute;
    top: -8% !important;
    left: 89% !important;
    border-radius: 10% !important;
    color: midnightblue;
    background-color: rgba(255, 255, 255, .95);
}

.addBtnAdvisor:hover{
    color: whitesmoke;
    background-color:powderblue;
}

.advisorModalForm{
    background-color: rgba(0,0,128 ,.2);
    color: midnightblue;
    font-family: 'Poppins', sans-serif !important;
    font-weight: bolder;
    font-size: 13px !important;
    position: absolute;
    display: flex;
    padding: 5px;
    margin-top: 4%;
    margin-left: 10%;
    height: 85vh;
    width: 25vw;
    border-radius: 10px;
}

.advisorModalHeader{
    background-color: rgba(70,130,180 ,1);
    color: whitesmoke;
    /* display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important; */
}

.locationDropDown{
    font-family: 'Poppins', sans-serif !important;
    /* font-weight: bolder; */
    font-size: 10px !important;
}

.inputStyle{
    font-family: 'Poppins', sans-serif !important;
    /* font-weight: bolder; */
    font-size: 10px !important;
}

.listAdvisorBtn{
    font-family: 'Poppins', sans-serif !important;
    font-size: 12px !important;
    width: 40% !important;
    background-color: rgba(70,130,180 ,1);
    margin-left: 27% !important;
}

.listAdvisorBtn:hover{
    background-color: rgba(255, 255, 255, .7) !important;
    color: midnightblue !important;
    font-weight: bold;
}

.locationDelete{
    color: rgba(47,79,79 ,1) !important;
    background-color: rgba(255, 255, 255, .0) !important;
    border: none !important;
}

.locationDelete:hover{
    color: darkkhaki !important;
}

.advisorRowStyle{
    text-align: center !important;
    text-transform: uppercase !important;
    width: 15vw;
}

.callIconStyle{
    color: rgba(47,79,79 ,1) !important;
    background-color: rgba(255, 255, 255, .0) !important;
    border: none !important;
}