.viewHeader{
    
    height: 200px !important;
    width: 100vw !important;
    text-align: center !important;
    background-color: navajowhite !important;

}

.textFontTitle{
    font-size: 20px !important;
    font-weight: bold !important;
    font-family: 'Girassol', cursive !important;
    color: midnightblue !important;
    text-align: center !important;
}

.viewContainer{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.viewDetails{
    margin: 5% 20% !important;
}

.confirmationFont{
    font-family: 'Poppins', sans-serif !important;
    font-weight:  bolder !important;
}