
.bookingMainContainer{
    padding: 3px !important;
    /* border: 3px solid salmon !important; */
    height: 70vh !important;
    width: 35vw !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    /* background-color: red; */

}

.confirmFontStyle{
    font-family: 'Poppins', sans-serif;
    font-size: 22px !important;
    position: absolute !important;
    margin-top: -2%;
    margin-left: -19%;
    /* text-decoration: underline; */
    color: midnightblue;
    font-weight: bolder;
    writing-mode: vertical-rl !important;
    text-orientation: upright !important;

}

.bookingSubContainer{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    background-color: rgba(255, 255, 255, .85);
    border-radius: 10% !important;
    height: 65vh;
    width: 42.5vw;

}

.cardBookingStyle {
    /* border: 3px solid indigo !important; */
    background-color: rgba(255, 255, 255, .0) !important;
    border: none !important;
    border-radius: 5% !important;
    height: 88% !important;
    width: 90% !important;
    font-size: 10px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: relative !important;
    margin: 20px !important;
}


.scrollContainer{
    height: 90%;
    width: 95%;
    overflow-y: scroll;
    /* overflow-x: hidden; */
    /* scroll-snap-type: y mandatory; */
}

.titleFont {
    padding-left: 8px !important;
    padding-right: 8px !important;
    color: midnightblue !important;
    font-size: 12px;
}

.dateStyleRow {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: relative !important;
    /* border: 2px solid salmon !important; */
    width: 5vw !important;
}

.bookingStyle{
    color: rgba(47,79,79 ,1) !important;
    background-color: rgba(255, 255, 255, .0) !important;
    border: none !important;
}

.bookingStyle:hover{
    color: darkkhaki !important;
}

.bookingIcon{
    font-size: 25px !important;
}

.contentTextStyles{
    font-family: 'Poppins', sans-serif;
    font-size: 12.8px;
}