.containerMain{

    background-image: url(../landingpagecomponents/images/freecodBg3.jpg) !important;
    background-position: center !important;
    background-size: cover !important;
    /* object-fit: cover;     */
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    
}

.subContainer{
    background-color: RGBA(255,255,255, 0.5);
    border-radius: 10px !important;
    width: 40vw;
    height: 35vh;
    padding: 10px !important;
}

.loginFont{
    font-family: 'Poppins', sans-serif !important;
    font-weight: bolder;
    color: midnightblue !important;
    /* font-size: 17px !important; */
    text-align: center;
}

.emailForm{
    font-family: 'Poppins', sans-serif !important;
    font-size: 15px !important;
    color: midnightblue !important;
    padding-left: 12%;
    margin-top: 3.5% !important;
    /* text-align: center; */
}

.emailInput{
    font-family: 'Poppins', sans-serif !important;
    font-size: 15px !important;
    color: midnightblue !important;
    margin-left: 2%;
    padding-right: 10vw;
    border: 1px solid midnightblue !important;
}

.passwordForm{
    font-family: 'Poppins', sans-serif !important;
    font-size: 15px !important;
    color: midnightblue !important;
    padding-left: 12%;
    padding-top: 2%;
}

.passwordInput{
    font-family: 'Poppins', sans-serif !important;
    font-size: 15px !important;
    color: midnightblue !important;
    margin-left: 2%;
    padding-right: 7.7vw;
    border: 1px solid midnightblue !important;
}

.loginBtn{
    background-color: lightsteelblue !important;
    padding: 5px 50px !important;
    font-family: 'Poppins', sans-serif !important;
    color: #0C0032 !important;
    font-weight: bolder !important;
    margin-top: 1% !important;
    margin-right: 37% !important;
    margin-left: 37% !important;
    border: 1px solid darkslategray !important;
    border-radius: 5px !important;
}

.loginBtn:hover{
    background-color: RGBA(255,255,255, 0.5) !important;
}

.hrStyle{
    border: 0.5px solid midnightblue;
    margin-bottom: 0 !important;
}

.registerBtn{
    /* background-color: none !important; */
    background-color: RGBA(255,255,255, 0.0) !important;
    border: none !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 15px !important;
    font-weight: bolder !important;
    color: midnightblue !important;
    margin-left: 75% !important;
    padding-top: 0.5% !important;
}

.registerBtn:hover{
    text-decoration: underline !important;
}