.containerMain{

    background-image: url(../landingpagecomponents/images/freecodBg3.jpg) !important;
    background-position: center !important;
    background-size: cover !important;
    /* object-fit: cover;     */
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.hrStyle{
    border: 1px solid midnightblue;
}

.subContainer{
    background-color: RGBA(255,255,255, 0.5);
    border-radius: 10px !important;
    width: 40vw;
    height: 55vh;
    padding: 10px !important;
    

}


.loginFont{
    font-family: 'Poppins', sans-serif !important;
    color: midnightblue !important;
    text-align: center;
    font-weight: bolder;
}

.nameForm{
    font-family: 'Poppins', sans-serif !important;
    font-size: 15px !important;
    font-weight: bolder;
    color: midnightblue !important;
    padding-left: 12%;
    padding-top: 2%;
}

.nameInput{
    font-family: 'Poppins', sans-serif !important;
    font-size: 15px !important;
    color: midnightblue !important;
    margin-left: 2%;
    padding-right: 10vw;
    border: 1px solid midnightblue !important;
}

.emailForm{
    font-family: 'Poppins', sans-serif !important;
    font-size: 15px !important;
    font-weight: bolder;
    color: midnightblue !important;
    padding-left: 12%;
    padding-top: 2%;
}

.emailInput{
    font-family: 'Poppins', sans-serif !important;
    font-size: 15px !important;
    color: midnightblue !important;
    margin-left: 9%;
    padding-right: 10vw;
    border: 1px solid midnightblue !important;
}

.passwordForm{
    font-family: 'Poppins', sans-serif !important;
    font-size: 15px !important;
    font-weight: bolder;
    color: midnightblue !important;
    padding-left: 12%;
    padding-top: 2%;
}

.passwordInput{
    font-family: 'Poppins', sans-serif !important;
    font-size: 15px !important;
    color: midnightblue !important;
    margin-left: 2%;
    padding-right: 10vw;
    border: 1px solid midnightblue !important;
}

.confirmPasswordForm{
    font-family: 'Poppins', sans-serif !important;
    font-size: 15px !important;
    font-weight: bolder;
    color: midnightblue !important;
    padding-left: 12%;
    padding-top: 2%;
}

.confirmPasswordInput{
    font-family: 'Poppins', sans-serif !important;
    font-size: 15px !important;
    color: midnightblue !important;
    margin-left: 2%;
    padding-right: 5.3vw;
    border: 1px solid midnightblue !important;
}

.spanFont{
    font-family: 'Poppins', sans-serif !important;
    font-size: 13px !important;
    color: red !important;
    margin-left: 55%;
}

.loginBtn{
    background-color: lightsteelblue !important;
    padding: 4px 50px;
    font-family: 'Poppins', sans-serif !important;
    color: #0C0032 !important;
    font-weight: bolder !important;
    margin-top: 3%;
    margin-right: 37%;
    margin-left: 37%;
    border: 1px solid darkslategray !important;
    border-radius: 5px !important;
}

.loginBtn:hover{
    background-color: RGBA(255,255,255, 0.5) !important;
}