.sideBarStyle{
    /* background-color: red !important; */
    position: fixed;
    /* background: rgb(2,0,36);
background: linear-gradient(131deg,  rgba(255,255,255,.9) 0%, rgba(255,255,255,.7) 20%, rgba(0,212,255, .6) 45%, rgba(9,9,121, .7) 75%, rgba(2,0,36, .8) 100%); */
    background-color: rgba(255,255,255, .8);
}

.sideBarContainer{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100% !important;
    width: 4vw !important;
}

.linkHomeStyle{
    position: absolute;
    top: 4em !important;
    left: 0.2em !important;
    font-family: 'Poppins', sans-serif !important;
    color: midnightblue !important;
    /* font-size: 17px !important; */
    text-align: center;
    background-color: none !important;
    
}

.linkHomeStyle:hover{
    color: skyblue !important;
}

.linkBudStyle{
    position: absolute;
    top: 7.5em !important;
    left: 0.47em !important;
    font-family: 'Poppins', sans-serif !important;
    color: midnightblue !important;
    /* font-size: 17px !important; */
    text-align: center;
}

.linkBudStyle:hover{
    color: skyblue !important;
}

.linkLogOut{
    position: absolute;
    top: 11em !important;
    left: 0.45em !important;
    font-family: 'Poppins', sans-serif !important;
    color: midnightblue !important;
    /* font-size: 17px !important; */
    text-align: center;
}

.linkLogOut:hover{
    color: skyblue !important;
}

.listItemStyle {
    list-style-type: none;
    /* position: relative; */
}

.iconHomeStyle{
    font-size: 45px !important;
}

.iconBudStyle{
    font-size: 38px !important;
}

.iconOutStyle{
    font-size: 37px !important;
}


.sideBarBtn {
    border: 1px solid rgba(255,255,255, .7);
    background-color: rgba(255,255,255, .0);
}

.sideBarBtn:hover{
    border: 1px solid skyblue;
    background-color: rgba(255,255,255, .5);
}

.mainIconBtn {
    /* position: absolute; */
    margin-top: 5%;
    left: 1%;
    font-size: 53px !important;
    color: white !important;
}

.mainIconBtn:hover{
    color: skyblue !important;
}